<turbo-frame id="my_navigation">
  <div class="container my-4"
      role="listbox">
    <div role="group"
        aria-label="Boxes"
        class="row d-flex justify-content-center gx-3">
      <div class="col-4 p-2" role="option"><div class="menu__item"></div></div>
      <div class="col-4 p-2" role="option"><div class="menu__item"></div></div>
      <div class="col-4 p-2" role="option"><div class="menu__item"></div></div>

      <div class="col-4 p-2" role="option"><div class="menu__item"></div></div>
      <div class="col-4 p-2" role="option"><div class="menu__item"></div></div>
      <div class="col-4 p-2" role="option"><div class="menu__item"></div></div>
    </div>
  </div>
</turbo-frame>
