<turbo-frame id="my_navigation">
  <div class="container my-4"
      role="listbox">
    <div role="group"
        aria-label="Boxes"
        class="row d-flex justify-content-center gx-3">
      <div class="col-4 p-2" role="option">
        <div class="menu__item d-flex align-items-center justify-content-center">
          <span class="material-icons-round">star_rate</span>
        </div>
      </div>
      <div class="col-4 p-2" role="option">
        <div class="menu__item d-flex align-items-center justify-content-center">
          <span class="material-icons-round">auto_stories</span>
        </div>
      </div>
      <div class="col-4 p-2" role="option">
        <div class="menu__item d-flex align-items-center justify-content-center">
          <span class="material-icons-round">receipt</span>
        </div>
      </div>

      <div class="col-4 p-2" role="option">
        <div class="menu__item d-flex align-items-center justify-content-center">
          <span class="material-icons-round">reply</span>
        </div>
      </div>
      <div class="col-4 p-2" role="option">
        <div class="menu__item d-flex align-items-center justify-content-center">
          <span class="material-icons-round">push_pin</span>
        </div>
      </div>
      <div class="col-4 p-2" role="option">
        <div class="menu__item d-flex align-items-center justify-content-center">
          <span class="material-icons-round">image</span>
        </div>
      </div>
    </div>
  </div>
</turbo-frame>
