<!doctype html>
<html lang="en">
<head>
  <title>Rails is the Hot Way 🔥</title>

  <meta http-equiv="content-type"
        content="text/html; charset=utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1">
</head>
<body>
  <nav class="container"
       aria-label="Main">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <details class="popup-menu text--gradient-hey position-relative mt-1"
                 data-controller="popup-menu"
                 data-action="toggle->popup-menu#update">
          <summary aria-haspopup="menu"
                   aria-label="Go to">
            <span class="emoji">&#9996;</span>
            <span class="logo-text">YO!</span>
            <span class="arrow-down material-icons-round flipped"
                  data-popup-menu-target="arrow">
                  expand_more
            </span>

            <a href="/navigation"
               data-turbo-frame="my_navigation"
               data-popup-menu-target="link">
               YO!
            </a>
          </summary>

          <turbo-frame id="my_navigation"
                       target="_top"
                       role="menu"
                       class="popup-menu position-absolute menu
                              start-50 overflow-scroll">
            <span class="u-for-screen-reader" role="menuitem" aria-disabled="true">Loading</span>
            <!-- Loader from https://loading.io/css/ -->
            <div class="loader d-flex justify-content-center align-items-center">
              <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </div>
          </turbo-frame>
        </details>
      </div>
    </div>

    <main class="row">
      <div class="content mt-5 mx-auto d-flex align-items-center justify-content-center">
        <h1>Emails go here.</h1>
      </div>
    </main>
  </nav>
</body>
</html>
